/* Task 1: Basic Selectors */
p{
  font-size:16px;
  Line-height:1.5;
}

/* Paragraphs - Type selector */


/* Sections - Class selector */
.section-content{
  background-color: #d3d3d3;
}


/* Header - ID selector */
#main-header{
  background-color: #000080 ;
  color: #ffffff ;
  text-align: center;
}


/* Task 2: Grouping and Universal Selectors */


/* Font Family - Grouped selector */
h1,h2,.section-content{
font-family: Arial,sans-serif;
}

/* Resetting Margins and Padding - Universal selector */


/* Task 3: Descendant and Child Selectors */

/* Descendant Selector */


#book-list li{

  color:#006400;
}



/* Child Selector */
#book-list > li{
  font-weight:bold;
}

/* Task 4: Pseudo-class and Pseudo-element Selectors */

/* Link Hover - Pseudo-class selector */a:hover{
  color:#8B0000;
}


/* First Letter - Pseudo-element selector */
p::first-letter{
  font-size:2em;
  font-style:italic;
}


/* Task 5: Attribute Selectors */


/* Text Input - Attribute selector */
input[type="text"]{
  border:blue;
  margin-bottom:10px;
  
}


/* Email Input - Attribute selector */
input[type="email"]{
  border:green;
}
